version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
      
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
