version: '3.8'
services:
  bmp-sensor:
    build:
      context: .
      dockerfile: backend/Dockerfile
    image: rohirikman/air-quality-sensor # Using a tagged image is best practice for Watchtower
    container_name: bmp-sensor-container
    restart: unless-stopped
    privileged: true
    ports:
      - "5000:5000"
    devices:
      - "/dev/i2c-0:/dev/i2c-0"
    env_file:
      - .env
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: rohirikman/air-quality-frontend
    container_name: frontend-container
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:5000/api
    depends_on:
      - bmp-sensor
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # This schedule will check for new images every day at 4 AM.
    # For testing, you can use a short interval like --interval 300 (5 minutes)
    command: --schedule "0 0 4 * * *" --cleanup
